[submodule "HW1-FullyConnectedNeuralNetworks/Archive/V2"]
	path = HW1-FullyConnectedNeuralNetworks/Archive/V2
	url = https://github.com/HesamAsad/NeuralNetworksDeepLearning-Fall2022-CA1.git
[submodule "Archive/V1"]
	path = Archive/V1
	url = https://github.com/Atcold/NYU-DLSP20.git
[submodule "Archive/V2"]
	path = Archive/V2
	url = https://github.com/Atcold/NYU-DLSP21.git
[submodule "Archive/V3"]
	path = Archive/V3
	url = https://github.com/Atcold/NYU-DLFL22
[submodule "HW2-ConvolutionalNeuralNetworks/Archive/V2"]
	path = HW2-ConvolutionalNeuralNetworks/Archive/V2
	url = https://github.com/HesamAsad/NeuralNetworksDeepLearning-Fall2022-CA2.git
[submodule "HW3-RegionbasedCNNs/Archive/V2"]
	path = HW3-RegionbasedCNNs/Archive/V2
	url = https://github.com/Ipouyall/DeepNeuralNetworkExploration.git
[submodule "HW3-RegionbasedCNNs/Archive/V3"]
	path = HW3-RegionbasedCNNs/Archive/V3
	url = https://github.com/Hadi-loo/NNDL-CA3-SAM-FasterRCNN.git
[submodule "HW3-RegionbasedCNNs/Archive/V4"]
	path = HW3-RegionbasedCNNs/Archive/V4
	url = https://github.com/HesamAsad/NeuralNetworksDeepLearning-Fall2022-CA3.git
[submodule "HW4-RecurrentNeuralNetworks/Archive/V2"]
	path = HW4-RecurrentNeuralNetworks/Archive/V2
	url = https://github.com/Hadi-loo/NNDL-CA4-LSTMs.git
[submodule "HW5-Transformers/Archive/V1"]
	path = HW5-Transformers/Archive/V1
	url = https://github.com/HesamAsad/NeuralNetworksDeepLearning-Fall2022-CA5.git
[submodule "HW5-Transformers/Archive/V2"]
	path = HW5-Transformers/Archive/V2
	url = https://github.com/Hadi-loo/NNDL-CA5-Transformers.git
[submodule "HW4-RecurrentNeuralNetworks/Archive/V4"]
	path = HW4-RecurrentNeuralNetworks/Archive/V4
	url = https://github.com/HesamAsad/NeuralNetworksDeepLearning-Fall2022-CA4.git
